# NYC traffic accidents over a 3 year period 
## Filter and Subset

Ingest <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv">this dataset</a> stored GitHub.

You can find the <a href="https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95/about_data">data source here</a>, including the data dictionary.

In [1]:
## import necessary libraries

import pandas as pd

In [3]:
## read the dataset into notebook
df=pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv")
df

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,5/21/19,22:50,BROOKLYN,"(40.69754, -73.98312)",0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4136992,ÔøΩMBU,Taxi
1,1/21/20,15:49,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4277087,Sedan,Station Wagon/Sport Utility Vehicle
2,12/31/20,16:30,NaN,NaN,0,0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4380668,Sedan,NaN
3,12/25/20,20:19,NaN,NaN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4380494,Sedan,Sedan
4,4/15/20,15:20,NaN,"(40.671585, -73.99843)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4407790,Sedan,Tractor Truck Diesel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324378,1/1/19,19:00,BROOKLYN,"(40.6897, -73.922455)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
324379,1/1/19,8:00,BRONX,"(40.81317, -73.859146)",0,0,0,0,0,0,0,0,Steering Failure,Unspecified,4060771,Pick-up Truck,Station Wagon/Sport Utility Vehicle
324380,1/1/19,3:30,BRONX,"(40.829407, -73.81967)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060653,Pick-up Truck,Sedan
324381,1/1/19,19:30,BROOKLYN,"(40.687565, -73.984406)",0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan
324382,1/1/19,12:00,MANHATTAN,"(40.71941, -73.99633)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060666,Sedan,NaN

In [5]:
## see the overall info about this dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324383 entries, 0 to 324382
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     324383 non-null  object
 1   CRASH TIME                     324383 non-null  object
 2   BOROUGH                        210698 non-null  object
 3   LOCATION                       298090 non-null  object
 4   NUMBER OF PERSONS INJURED      324383 non-null  int64
 5   NUMBER OF PERSONS KILLED       324383 non-null  int64
 6   NUMBER OF PEDESTRIANS INJURED  324383 non-null  int64
 7   NUMBER OF PEDESTRIANS KILLED   324383 non-null  int64
 8   NUMBER OF CYCLIST INJURED      324383 non-null  int64
 9   NUMBER OF CYCLIST KILLED       324383 non-null  int64
 10  NUMBER OF MOTORIST INJURED     324383 non-null  int64
 11  NUMBER OF MOTORIST KILLED      324383 non-null  int64
 12  CONTRIBUTING FACTOR VEHICLE 1  323137 non-null  object
 13  CONTRIBUTING FACTOR VEHICLE 2  266488 non-null  object
 14  COLLISION_ID                   324383 non-null  int64
 15  VEHICLE TYPE CODE 1            321932 non-null  object
 16  VEHICLE TYPE CODE 2            245802 non-null  object
dtypes: int64(9), object(8)
memory usage: 42.1+ MB

In [59]:
## create a series for borough using dot notation
df.BOROUGH

0          BROOKLYN
1               NaN
2               NaN
3               NaN
4               NaN
            ...
324378     BROOKLYN
324379        BRONX
324380        BRONX
324381     BROOKLYN
324382    MANHATTAN
Name: BOROUGH, Length: 324383, dtype: object

In [69]:
## create a series of crash dates.

df ["CRASH DATE"]

0          5/21/19
1          1/21/20
2         12/31/20
3         12/25/20
4          4/15/20
            ...
324378      1/1/19
324379      1/1/19
324380      1/1/19
324381      1/1/19
324382      1/1/19
Name: CRASH DATE, Length: 324383, dtype: object

In [ ]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## Which borough had the most crashes?

In [ ]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## which type of vehicle was primary vehicle (CONTRIBUTING FACTOR VEHICLE 1) involved in crashes?
## SHOW ONLY THE TOP 7

In [ ]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## these top 7 but as percentages as a dataframe, with the header "pct"

In [ ]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were 15 vehicles that were the most infrequantly involved in an accident  (CONTRIBUTING FACTOR VEHICLE 1)?

In [17]:
## create a subset of data for only Queens
## place it in a dataframe called df_q
df.query("BOROUGH == 'QUEENS'")

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
15,5/2/20,17:30,QUEENS,"(40.67376, -73.79473)",0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,4412513,Station Wagon/Sport Utility Vehicle,Pick-up Truck
74,12/16/20,16:20,QUEENS,"(40.7139, -73.7539)",0,0,0,0,0,0,0,0,Driver Inexperience,NaN,4376676,Box Truck,NaN
97,6/4/20,7:30,QUEENS,"(40.744232, -73.861275)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4423984,Bus,Station Wagon/Sport Utility Vehicle
105,12/3/20,15:10,QUEENS,NaN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4373032,Sedan,NaN
129,12/19/20,16:15,QUEENS,"(40.72362, -73.88802)",1,0,1,0,0,0,0,0,Backing Unsafely,NaN,4379293,Station Wagon/Sport Utility Vehicle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324366,1/1/19,11:00,QUEENS,"(40.698704, -73.89974)",0,0,0,0,0,0,0,0,Unspecified,NaN,4065827,Sedan,NaN
324367,1/1/19,12:30,QUEENS,"(40.74114, -73.85747)",0,0,0,0,0,0,0,0,Unspecified,NaN,4062343,Sedan,NaN
324371,1/1/19,2:18,QUEENS,"(40.716507, -73.84711)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060413,Sedan,NaN
324372,1/1/19,13:00,QUEENS,"(40.665497, -73.75573)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
324375,1/1/19,10:23,QUEENS,"(40.75868, -73.87552)",1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan

In [ ]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## number of people killed but return as a frame with a label "number_killed"

In [ ]:
## create a dataset for Manhattan that involved taxi cabs as the primary vehicle cause

In [ ]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause

In [ ]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause
### as a percent in a frame with header pct_

In [ ]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were the top 8 causes of accidents across all the boroughs?
## by secondary vehicle cause

In [ ]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## What were the 5 fewest causes for primary vehicles causing the accident

In [ ]:
## DON'T DO THIS ONE THIS WEEK - NOT COVERED YET
## list ALL the causes for vehicle 1 as unique values (in other words, create a list of the causes)

In [97]:
## find all incidents of defective pavements causing accidents 
## and sort by borough
df_dp = df.query("(`CONTRIBUTING FACTOR VEHICLE 1` == 'Pavement Defective') or (`CONTRIBUTING FACTOR VEHICLE 2` == 'Pavement Defective')")
df_dp

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
1205,12/20/20,16:07,NaN,"(40.855427, -73.930885)",0,0,0,0,0,0,0,0,Pavement Defective,NaN,4377607,Station Wagon/Sport Utility Vehicle,NaN
2161,12/29/20,21:46,MANHATTAN,"(40.71566, -73.98299)",0,0,0,0,0,0,0,0,Pavement Defective,NaN,4380042,Sedan,NaN
2286,12/17/20,5:40,MANHATTAN,"(40.761856, -73.96343)",0,0,0,0,0,0,0,0,Pavement Defective,NaN,4376729,Sedan,NaN
5733,12/21/20,7:30,NaN,NaN,1,0,0,0,0,0,1,0,Pavement Defective,Following Too Closely,4377869,Sedan,Garbage or Refuse
5848,12/17/20,8:40,NaN,"(40.759686, -73.71495)",0,0,0,0,0,0,0,0,Pavement Slippery,Pavement Defective,4377134,Station Wagon/Sport Utility Vehicle,Taxi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317966,1/30/19,20:50,BROOKLYN,"(40.700172, -73.92215)",0,0,0,0,0,0,0,0,Pavement Defective,Unspecified,4072212,Sedan,Sedan
319388,1/26/19,22:35,NaN,"(40.761204, -73.75539)",0,0,0,0,0,0,0,0,Pavement Defective,NaN,4069380,Sedan,NaN
322175,1/4/19,15:26,MANHATTAN,"(40.726505, -73.9883)",0,0,0,0,0,0,0,0,Pavement Defective,Pavement Defective,4061754,Station Wagon/Sport Utility Vehicle,Sedan
323359,1/5/19,9:35,NaN,"(40.78625, -73.93935)",1,0,0,0,0,0,1,0,Pavement Defective,NaN,4062851,Station Wagon/Sport Utility Vehicle,NaN
324239,1/1/19,5:00,QUEENS,"(40.60516, -73.761375)",1,0,0,0,0,0,1,0,Pavement Defective,Unspecified,4060429,Sedan,Sedan

In [115]:
## find all incidents in which more than 3 people were killed
df_incidents = df.query("`NUMBER OF PERSONS KILLED` > 3")
df_incidents

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
91050,1/25/20,5:35,NaN,"(40.748398, -73.72879)",0,4,0,0,0,0,0,4,Unsafe Speed,Unspecified,4278634,Sedan,Sedan

In [ ]:
## find all incidents in which between 2 and 3 people were killed

## Concat the following two files into a single dataframe

- <a href="https://github.com/sandeepmj/datasets/blob/main/importing/flt_delays_17.csv">Flight delays 2017</a>
- <a href="https://github.com/sandeepmj/datasets/blob/main/importing/flt_delays_18.csv">Flight delays 2018</a>

In [47]:
df_2017 = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/importing/flt_delays_17.csv")
df_2017

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2017,3,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",145.0,26.0,10.83,0.00,...,0.00,9.31,0.0,0.0,935.0,437.0,0.0,193.0,0.0,305.0
1,2017,3,AA,American Airlines Inc.,ALB,"Albany, NY: Albany International",89.0,16.0,2.12,0.41,...,0.00,7.26,3.0,0.0,689.0,100.0,40.0,139.0,0.0,410.0
2,2017,3,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",1205.0,241.0,78.79,4.13,...,0.95,82.14,9.0,3.0,12584.0,3827.0,372.0,2839.0,38.0,5508.0
3,2017,3,AA,American Airlines Inc.,AUS,"Austin, TX: Austin - Bergstrom International",749.0,111.0,36.77,3.42,...,0.05,47.26,2.0,0.0,5112.0,1398.0,219.0,752.0,1.0,2742.0
4,2017,3,AA,American Airlines Inc.,BDL,"Hartford, CT: Bradley International",410.0,102.0,28.99,2.59,...,0.00,25.41,22.0,0.0,3929.0,1185.0,232.0,1183.0,0.0,1329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8379,2017,10,UA,United Air Lines Inc.,BUR,"Burbank, CA: Bob Hope",113.0,26.0,7.76,0.00,...,0.00,13.40,2.0,0.0,1819.0,483.0,0.0,171.0,0.0,1165.0
8380,2017,10,UA,United Air Lines Inc.,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",327.0,35.0,6.48,2.16,...,0.00,19.55,0.0,0.0,2942.0,398.0,345.0,270.0,0.0,1929.0
8381,2017,10,UA,United Air Lines Inc.,BZN,"Bozeman, MT: Bozeman Yellowstone International",95.0,11.0,2.45,1.00,...,0.00,2.79,0.0,0.0,428.0,62.0,67.0,168.0,0.0,131.0
8382,2017,10,UA,United Air Lines Inc.,CHS,"Charleston, SC: Charleston AFB/International",89.0,6.0,1.66,0.00,...,0.00,4.25,0.0,0.0,242.0,68.0,0.0,2.0,0.0,172.0
8383,2017,10,UA,United Air Lines Inc.,CID,"Cedar Rapids/Iowa City, IA: The Eastern Iowa",85.0,10.0,2.38,0.00,...,0.00,4.87,0.0,0.0,451.0,87.0,0.0,69.0,0.0,295.0

In [51]:
df_2018 = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/refs/heads/main/importing/flt_delays_18.csv")
df_2018

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018,1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,...,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018,1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,...,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018,1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,...,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018,1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,...,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018,1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,...,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16786,2018,10,YX,Republic Airline,TPA,"Tampa, FL: Tampa International",3.0,0.0,0.00,0.00,...,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16787,2018,10,YX,Republic Airline,TVC,"Traverse City, MI: Cherry Capital",55.0,12.0,2.11,1.93,...,0.0,5.89,0.0,0.0,1108.0,66.0,584.0,81.0,0.0,377.0
16788,2018,10,YX,Republic Airline,TYS,"Knoxville, TN: McGhee Tyson",13.0,2.0,0.00,0.00,...,0.0,1.00,0.0,0.0,200.0,0.0,0.0,26.0,0.0,174.0
16789,2018,10,YX,Republic Airline,VPS,"Valparaiso, FL: Eglin AFB Destin Fort Walton B...",31.0,2.0,0.79,0.00,...,0.0,0.00,1.0,1.0,66.0,33.0,0.0,33.0,0.0,0.0
16790,2018,10,YX,Republic Airline,XNA,"Fayetteville, AR: Northwest Arkansas Regional",116.0,36.0,4.20,0.00,...,0.0,8.71,0.0,0.0,1662.0,257.0,0.0,930.0,0.0,475.0

In [53]:
df2 = pd.concat([df_2018, df_2017], ignore_index = True)
df2

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2018,1,MQ,Envoy Air,BIS,"Bismarck/Mandan, ND: Bismarck Municipal",5.0,3.0,1.00,0.06,...,0.0,0.00,0.0,0.0,104.0,54.0,1.0,49.0,0.0,0.0
1,2018,1,MQ,Envoy Air,BNA,"Nashville, TN: Nashville International",110.0,21.0,7.17,1.16,...,0.0,5.92,3.0,0.0,897.0,344.0,37.0,226.0,0.0,290.0
2,2018,1,MQ,Envoy Air,BOI,"Boise, ID: Boise Air Terminal",32.0,8.0,0.22,0.35,...,0.0,1.82,0.0,0.0,353.0,9.0,18.0,233.0,0.0,93.0
3,2018,1,MQ,Envoy Air,BPT,"Beaumont/Port Arthur, TX: Jack Brooks Regional",63.0,11.0,1.75,1.08,...,0.0,5.19,3.0,0.0,657.0,83.0,34.0,130.0,0.0,410.0
4,2018,1,MQ,Envoy Air,BUF,"Buffalo, NY: Buffalo Niagara International",31.0,12.0,0.82,3.00,...,0.0,1.55,0.0,0.0,484.0,27.0,136.0,207.0,0.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25170,2017,10,UA,United Air Lines Inc.,BUR,"Burbank, CA: Bob Hope",113.0,26.0,7.76,0.00,...,0.0,13.40,2.0,0.0,1819.0,483.0,0.0,171.0,0.0,1165.0
25171,2017,10,UA,United Air Lines Inc.,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",327.0,35.0,6.48,2.16,...,0.0,19.55,0.0,0.0,2942.0,398.0,345.0,270.0,0.0,1929.0
25172,2017,10,UA,United Air Lines Inc.,BZN,"Bozeman, MT: Bozeman Yellowstone International",95.0,11.0,2.45,1.00,...,0.0,2.79,0.0,0.0,428.0,62.0,67.0,168.0,0.0,131.0
25173,2017,10,UA,United Air Lines Inc.,CHS,"Charleston, SC: Charleston AFB/International",89.0,6.0,1.66,0.00,...,0.0,4.25,0.0,0.0,242.0,68.0,0.0,2.0,0.0,172.0
25174,2017,10,UA,United Air Lines Inc.,CID,"Cedar Rapids/Iowa City, IA: The Eastern Iowa",85.0,10.0,2.38,0.00,...,0.0,4.87,0.0,0.0,451.0,87.0,0.0,69.0,0.0,295.0